<div class="jumbotron">
  <h2>The most astounding fact.</h2>
  
  <div id='ooyalaplayer' style='width:720px;height:480px'></div>
  
  <script>
  	var videoPlayer = OO.Player.create('ooyalaplayer', 'w5Y2l0cDroA7MFkyARCfbq3P-vwBOv96');
  	videoPlayer.mb.subscribe(OO.EVENTS.PLAYING,'test',function(eventName) {alert("Get your popcorn, the movie is starting!");})
  </script>

  <div class="btn-group">
  	<button class="btn btn-primary" id= "playButton" onclick="playVideo()">Play Video</button>
  	<button class="btn btn-warning" id= "pauseButton" disabled="disabled" onclick="pauseVideo()">Pause Video</button>
  	<button class="btn btn-default" onclick="videoDescription()">Get Video Description</button>
  	<button class="btn btn-danger" onclick="destroyPlayer()">Remove Player</button>
  </div>

  <div class="col-lg-6">
	  <div class="input-group">
		  <input type="text" class="form-control" style="padding-top: 8px" id="seekInput">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" onclick="seekTo(document.getElementById('seekInput').value)">Seek</button>
		  </span>
	  </div>
  </div>

  <div class="col-lg-6">
	  <div class="input-group">
		  <input type="text" class="form-control" style="padding-top: 8px" id="newName">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" onclick="changeName(document.getElementById('newName').value)">Change Video Name</button>
		  </span>
	  </div>
  </div>
  <h2 class="text-center" id="author"><small>Made by Alan Gandarilla</small></h2>
</div>
