<div class="jumbotron">
  <h2>The most astounding fact.</h2>
  
  <div id='ooyalaplayer' style='width:720px;height:480px'></div>
  
  <script>
  	var videoPlayer = OO.Player.create('ooyalaplayer', 'w5Y2l0cDroA7MFkyARCfbq3P-vwBOv96');
  	videoPlayer.mb.subscribe(OO.EVENTS.PLAYING,'test',function(eventName) {alert("Get your popcorn, the movie is starting!");})

  	function playVideo(){
  		videoPlayer.mb.publish(OO.EVENTS.PLAY);
  		$('#playButton').attr('disabled', 'disabled');
  		$('#pauseButton').removeAttr('disabled');
  	}

  	function pauseVideo(){
  		videoPlayer.mb.publish(OO.EVENTS.PAUSE);
  		$('#pauseButton').attr('disabled', 'disabled');
  		$('#playButton').removeAttr('disabled');
  	}

  	function destroyPlayer(){
  		videoPlayer.destroy(function() { alert("This is why you can't have nice things"); });
  	}

  </script>

  <div class="btn-group">
  	<button class="btn btn-primary" id= "playButton" onclick="playVideo()">Play Video</button>
  	<button class="btn btn-warning" id= "pauseButton" disabled="disabled" onclick="pauseVideo()">Pause Video</button>
  	<button class="btn btn-default" id= "seekButton" disabled="disabled">Seek</button>
  	<button class="btn btn-default">Get Video Description</button>
  	<button class="btn btn-default">Change Video Name</button>
  	<button class="btn btn-danger" onclick="destroyPlayer()">Remove Player</button>
  </div>
  
</div>